/* Estilos do header */
header {
  background-color: #333;
  padding: 20px 0;
  text-align: center;
  position: relative; /* Necessário para posicionamento do número no canto */
}

/* Estilo para a div do número de contato */
#contato-header {
  position: absolute;
  top: 20px;  /* Garantindo que ele fique abaixo do logo */
  right: 20px;
  color: white;
  font-size: 1rem;
  width: auto; /* Largura ajustada automaticamente */
  text-align: right;
}

#contato-header a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#contato-header a:hover {
  color: #1d5ac5; /* Mudar cor quando o link for hover */
}

#contato-header img {
  width: 40px;  /* Define a largura da imagem */
  height: 40px; /* Define a altura da imagem */
  object-fit: contain; /* Garante que a imagem mantenha a proporção */
}

/* Estilos do logo */
header img {
  width: 150px;
  margin-bottom: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
  /* Ajusta a posição do número de contato para não sobrepor o logo */
  #contato-header {
    top: 30px; /* Distância maior do topo para não interferir no logo */
    right: 15px;
  }

  /* Ajusta o logo para telas menores */
  header img {
    width: 120px;
  }

  /* Exibe o menu de navegação em coluna em vez de linha */
  nav ul {
    flex-direction: column;
    margin-top: 10px;
  }

  nav ul li {
    margin: 10px 0;
  }
}

@media (max-width: 480px) {
  /* Ajusta a posição do número de contato ainda mais */
  #contato-header {
    top: 20px; /* Distância do topo */
    right: 10px; /* Ajuste de posicionamento para telas menores */
    text-align: center; /* Alinha o texto no centro */
  }

  /* Ajustes no logo */
  header img {
    width: 100px;
  }

  /* Ajustes no menu de navegação */
  nav ul {
    flex-direction: column;
    margin-top: 10px;
  }

  nav ul li {
    margin: 10px 0;
  }
}
