/* Reset básico para garantir que a aparência seja consistente entre os navegadores */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos do body */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: rgb(31, 31, 31);
  color: #333;
}

/* Estilos do header */
header {
  background-color: #333;
  padding: 20px 0;
  text-align: center;
  position: relative; /* Necessário para posicionamento do número no canto */
}

/* Estilo para a div do número de contato */
#contato-header {
  position: absolute;
  top: 10px;
  right: 20px;
  color: white;
  font-size: 1.0rem;
}

#contato-header a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#contato-header a:hover {
  color: #1d5ac5; /* Mudar cor quando o link for hover */
}

#contato-header img {
  width: 40px;  /* Define a largura da imagem */
  height: 40px; /* Define a altura da imagem */
  object-fit: contain; /* Garante que a imagem mantenha a proporção */
}


/* Estilos do logo */
header img {
  width: 150px;
  margin-bottom: 10px;
}

/* Estilos da navegação */
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #1d5ac5;
}

#Banner {
  text-align: center;
  margin-top: 0; 
  padding: 0; 
}

#Banner img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  display: block; 
}


/* Estilos da seção Acessórios */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilo para cada item */
.item {
  background-color: #1e1e1e;
  color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border: 2px solid #ffffff;
}

.item:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}


.item img {
  width: 100%; 
  height: 250px; 
  object-fit: cover; 
  margin-bottom: 15px;
  border-radius: 8px;
}

.item p {
  font-size: 1.3rem;
  margin-bottom: 15px;
  font-weight: 500;
  color: #dcdcdc;
}

.item button {
  background-color: #1d5ac5;
  color: white;
  border: none;
  padding: 12px 25px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: background-color 0.3s ease, transform 0.2s ease-in-out;
  width: 100%; /* Faz com que todos os botões tenham o mesmo tamanho */
  box-sizing: border-box; /* Garante que o padding não afete a largura total do botão */
}

/* Adicionando efeito de hover */
.item button:hover {
  background-color: #155c9e;
  transform: translateY(-3px);
}



/* Responsividade */
@media (max-width: 768px) {
  .grid-container {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .grid-container {
      grid-template-columns: 1fr;
  }

  header img {
      width: 120px;
  }

  nav ul {
      flex-direction: column;
      margin-top: 10px;
  }

  nav ul li {
      margin: 10px 0;
  }

  #contato-header {
      width: 100%; /* Ajusta a largura do número de contato */
      text-align: center; /* Alinha o texto ao centro em telas menores */
      padding: 10px;
  }
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

footer p {
  font-size: 1rem;
}
